<form action="#" name="newact-form" id="newact-form" ng-submit: createUser($form)>
  <h1>Create a New Account</h1>
  <fieldset>
    <input type="text" class="new-username-fullname"placeholder="Full Name" ng-model="newact.fullname"></input> <br>
   <input type="text" class="new-username" placeholder="Username" ng-model="newact.username"></input> <br>
   <input type="text" class="new-username-number" placeholder="Mobile" ng-model="newact.phone"></input> <br>
   <input type="text" class="new-username-zipcode" placeholder="Zipcode" ng-model="newact.zipcode"></input> <br>
   <textarea type="text" class="new-username-description" placeholder="Write a brief personal description" ng-model="user.description"></textarea> <br>
<button type="submit" name="create" id="create-act-button">Create Account</button>
  </fieldset>
</form> <!-- end of #create-act-form -->
